<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".RepresentativeViewComplaintActivity"
            android:label="@string/title_activity_representative_view_complaint"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".TrackComplaintActivity" />
        <activity
            android:name=".PublishNews"
            android:label="Broadcast"
            android:parentActivityName=".RepresentativePortal">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.myapplication.RepresentativePortal" />
        </activity>
        <activity android:name=".NewsDetailsActivity" />
        <activity
            android:name=".ViewNewsActivity"
            android:label="News"
            android:parentActivityName=".HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.myapplication.HomeActivity" />
        </activity>
        <activity
            android:name=".ViewUserActivity"
            android:label="Voters List"
            android:parentActivityName=".RepresentativePortal">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.myapplication.RepresentativePortal" />
        </activity>
        <activity android:name=".MyProfile" />
        <activity
            android:name=".ContractorPortal"
            android:label="@string/title_activity_contractor_portal"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RepresentativePortal"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/title_activity_representative_portal" />
        <activity
            android:name=".FundsActivity"
            android:label="Funds &amp; Grants"
            android:parentActivityName=".HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.myapplication.HomeActivity" />
        </activity>
        <activity
            android:name=".HomeActivity"
            android:label="@string/header"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LaunchComplaintActivity"
            android:label="Lodge Complaint"
            android:parentActivityName=".HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.myapplication.HomeActivity" />
        </activity>
        <activity android:name=".ComplaintDetailsAcitivity" />
        <activity
            android:name=".ViewComplaintActivity"
            android:label="View Complaints"
            android:parentActivityName=".HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.myapplication.HomeActivity" />
        </activity>
        <activity
            android:name=".Registration"
            android:label="Registration"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.myapplication.MainActivity" />
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>